# Location: /home/user/.local/share/applications
[Desktop Entry]
Type=Application
Name=AppNotas
Comment=Simple Note Taking Application
Categories=Utility,Office;
Exec=/home/agus/programas/AppNotasQt/dist/AppNotas/AppNotas
Icon=/home/agus/.appnotas/icons/app_icon.jpg
